.panel.move-up {
  transform: translateX(-50%) translateY(calc(-50% - 100vh));
  opacity: 0;
  transition: transform 0.7s ease, opacity 1.5s ease;
}
.panel-wrapper {
  position: fixed;

  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: 55vw;
  max-width: 750px;
}
.panel {
  padding: 0 20px 20px 20px;
  text-align: center;
  background: radial-gradient(circle at 20% 20%, #1e263ebc, #1e2030);
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(244, 167, 85, 0.3);
  opacity: 1;
  overflow-y: auto;
  z-index: 10;
  transition: transform 1s ease, visibility 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
  overflow: auto;
  line-height: 1.5;
}
.panel.sub {
  opacity: 0;
  text-align: left;
  padding: 0 20px 20px 40px;
}
.panel.sub.move-up {
  opacity: 1;
}
.panel.show {
  animation: showInfo 0.7s ease forwards;
}

.panel.intro {
  animation: fadeUp 0.5s ease forwards;
}

.panel-title,
.sub-panel-title {
  position: static;
  display: block;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 70px;
}
.panel-sum {
  position: relative;
  display: block;
  font-size: 38px;
  font-family: "Ownglyph_eunbyul21-Rg", sans-serif;
  font-weight: bold;
}
.panel-divline,
.sub-panel-divline {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  display: block;

  border-top: 5px solid transparent;
  border-image: radial-gradient(circle at 50% 50%, #bcc3f4, #30376d) 0.8;
  border-radius: 10px;
  padding: 0 0 20px 0;
}

.sub-panel-divline {
  left: 14%;
}
.panel-des,
.sub-panel-des {
  position: relative;
  display: block;
  font-family: "Ownglyph_eunbyul21-Rg", sans-serif;
  white-space: pre-line;
}
.panel-des {
  font-size: 24px;
}
.sub-panel-des {
  font-size: 24px;
}
.intro-btn,
.back-btn {
  font-family: "Ownglyph_ParkDaHyun";
  width: 15vw;
  height: 5vh;
  background-color: white;
  border-radius: 20px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  pointer-events: all;
  /* margin-bottom: 20px; */
}

.intro-btn:hover,
.back-btn:hover {
  background-color: gray;
}

.panel-links {
  display: none;
  justify-content: left;
  align-items: center;
  pointer-events: all;
}
.panel-links.show {
  display: flex;
}
.panel-links a img {
  width: 3vw;
  border-radius: 50%;
  margin: 0 2vw 1vw 0;
  border: 3px solid white;
  background-color: white;
}

.panel-links a img:hover {
  scale: 1.1;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showInfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
