@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_eunbyul21-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
  min-height: 100vh;
  color: #fff;
  background-color: #000;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("assets/background.jpg");
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

body.panel-open .planet--bottom .planet-img {
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.panel-open .planet--bottom .play-btn,
body.panel-open .planet--bottom .pause-btn {
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
  pointer-events: all;
}

.panel {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 40vw;
  max-width: 500px;
  padding: 0 20px 20px 20px;
  background: radial-gradient(circle at 20% 20%, #1e263ebc, #1e2030);
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(244, 167, 85, 0.3);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  z-index: 10;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.panel.show {
  opacity: 1;
  visibility: visible;
}

.panel-title {
  font-family: "My Soul", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}
.panel-sum {
  font-size: 37px;
  font-family: "Ownglyph_eunbyul21-Rg", sans-serif;
  font-weight: bold;
}
.panel-des {
  font-family: "Ownglyph_eunbyul21-Rg", sans-serif;
  font-size: 18px;
}

.logo {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 5vw;
  aspect-ratio: 1/1;
  display: block;
  z-index: 0;
}

.logo-img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  clip-path: circle(70% at 50% 43%);
  opacity: 0.5;
}

.logo::after {
  content: "";
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  background: radial-gradient(
    circle,
    rgba(255, 166, 0, 0.859) 0%,
    transparent 70%
  );
  z-index: -1;
}

.space-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.planet {
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 20;
}

.planet::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-url) center/cover no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
  clip-path: circle(49% at 50% 50%);
}
.planet.active::before {
  opacity: 1;
}

.planet:hover::before {
  opacity: 1;
}

.planet-img {
  width: 100%;
  transition: opacity 0.5s ease;
}

.planet-img:hover {
  opacity: 0;
}

.play-btn {
  position: absolute;
  left: 42%;
  bottom: 40%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(var(--planet-size) * 0.1) 0 calc(var(--planet-size) * 0.1)
    calc(var(--planet-size) * 0.17);
  border-color: transparent transparent transparent #181d2edf;
  background: none;
  outline: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.pause-btn {
  position: absolute;
  left: 42%;
  bottom: 42%;
  height: calc(var(--planet-size) * 0.17);
  border-style: double;
  border-width: 0 0 0 calc(var(--planet-size) * 0.15);
  border-color: transparent transparent transparent #181d2edf;
  background: none;
  outline: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

#music-btn.active {
  animation: BtnClicked 0.5s ease forwards;
}

.ring-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  opacity: 1;
  animation: rotate-axis 7s linear infinite;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  pointer-events: none;
}
.ring-letter {
  position: absolute;
  font-size: calc(var(--planet-size) * 0.15);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;

  transform: rotateY(calc(var(--i) * 1deg))
    translateZ(calc(var(--planet-size) * 0.55));
  transition: all 0.5s ease;
  backface-visibility: hidden;
}
/* 행성 위치별 크기 및 밝기 조절 */
.planet--left {
  top: 22%;
  left: 35%;
  --planet-size: 7vw;
  width: var(--planet-size);
  z-index: 0;
  filter: brightness(60%);
}
.planet--right {
  top: 50%;
  left: 79%;
  --planet-size: 21vw;
  width: var(--planet-size);
  z-index: 1;
  filter: brightness(80%);
}
.planet--top {
  top: 20%;
  left: 67%;
  --planet-size: 6vw;
  width: var(--planet-size);
  z-index: 0;
  filter: brightness(60%);
}
.planet--bottom {
  top: 54%;
  left: 25%;
  --planet-size: 35vw;
  width: var(--planet-size);
  z-index: 2;
}

@keyframes rotate-axis {
  from {
    transform: rotateZ(340deg) perspective(800px) rotateY(360deg);
  }
  to {
    transform: rotateZ(340deg) perspective(800px) rotateY(0deg);
  }
}

@keyframes BtnClicked {
  0% {
    transform: scale(1.4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
